{% set stylesheet  = '/bundles/siciareksymfonyutils/css/cookiesbar.css' %}
{% set cookie_name = 'cookies_accepted' %}

{% if app.request.cookies.has(cookie_name) == false %}

    {% spaceless %}
        <div id="cookies-bar">
            <div class="info">{{ 'app.privacy_policy'|trans({__url__:privacy_policy_url}, 'SiciarekSymfonyUtilsBundle')|raw }}</div>
            <a onclick="acceptCookies()" class="close" href="javascript:void(null)">&nbsp;</a>
        </div>
    {% endspaceless %}

    <style type="text/css">
        @import '{{ stylesheet }}';
    </style>

    <script type="text/javascript">

        var _day = 24 * 60 * 60 * 1000;
        var _year = 365 * _day;

        function createCookie(name, value, expiration, url) {

            value = value || 1;
            expiration = expiration || 10 * _year;
            url = url || '/';

            var cookie = name + '=' + value;
            var expires = '';
            var path = 'path=' + url;

            if (expiration) {
                var date = new Date();
                date.setTime(date.getTime() + expiration);
                expires = 'expires=' + date.toGMTString();
            }

            document.cookie = [cookie, expires, path].join(';');
        }

        function checkCookies() {
            if(document.cookie.match(/{{ cookie_name }}=1/) === null) {
                document.getElementById('cookies-bar').style.display = 'inline-block';
            }
        }

        function acceptCookies() {
            createCookie('{{ cookie_name }}');
            element = document.getElementById('cookies-bar');
            element.parentNode.removeChild(element);
        }

        window.onload = checkCookies;
    </script>

{% endif %}